App.css
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  padding-top: 4rem;
}

.centered-button button {
  text-transform: none; /* Prevent uppercase transformation */
}




.upper-half {
  background-color: #eef4fa; /* Grey color for the upper half */
  height: 50vh; /* Set the height to 50% of the viewport height */
  border-bottom-left-radius:15%;
}


:root {
  --bg-color: white; /* Default background color */
  --text-color: black; /* Default text color */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Your dark mode styles */
.App.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: white;
}

.dark-mode-toggle {
  text-align: center; /* Center align the button */
}